.footerStyle {
    position: relative;
    overflow: hidden;
    background-color: var(--colorInsideCards);
    text-align: center;
}
.logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logoFacebook {
    margin-right: 40px;
}
.follow {
    padding-top: 20px;
    font-size: 12px;
}
.copyright {
    font-size: 12px;
    padding:0 13px 20px 13px;
}
.flowerTop, .flowerBottom {
position: absolute;
}
.flowerTop {
    top: 0;
    right: 0;
    transform: rotateZ(215deg);
}
.flowerBottom{
    bottom: 0;
    left: 0;
    transform: rotateZ(45deg);
}