.containerSlider {
  border-top: 2px solid var(--colorTextPrincipal);
  border-bottom: 2px solid var(--colorTextPrincipal);
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sliderTrack {
  display: flex;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 240px;
  position: relative;
}
