:root {
--backgroundGeneral:#3E78A6;
--colorTextPrincipal:#F4F1EC;
--colorCards: #EFE6D8;
--colorInsideCards:#356A92;
--flowersStyling:#9BAF8A
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
background-color: var(--backgroundGeneral);
color: var(--colorTextPrincipal);
font-family: var(--font-general);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
 
  text-decoration: none;
}



