.blockNameService {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
}

.flowerRotation {
    transform: rotateY(180deg);
}

.mainService {
    text-align: center;
}
.titleServices {
    font-family: Allura;
    font-size: 30px;
    font-weight:400;
    margin-bottom: 30px;
}